body {
  background-color: black;
}

.form {
  text-align: center;
  margin-top: 50px;
  color: white;
}

.form-header {
  font-size: xx-large;
}

.input-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-container input {
  width: 300px;
  height: 30px;
  border-width: 2px;
  border-radius: 10px;
}

.input-container select {
  height: 30px;
  border-width: 2px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.role {
  width: 100px;
}

.department {
  width: 200px;
}

.submit-btn {
  height: 30px;
  font-size: large;
  border-radius: 5px;
  margin-top: 10px;
}

.submit-btn:hover {
  cursor: pointer;
}

.dropdownContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.inputData {
  margin-top: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

